
## Suggested by Nikola
cache/
output/
.doit.db
.doit.db.bak
.doit.db.dat
.doit.db.dir
.doit.db*

## Python
__pycache__/
*.py[cod]

## Temporary builds
._build/*

## Jupyter Notebook
.ipynb_checkpoints/

##  VS Code
.vscode/*
